.container {
  width: 100%;
  margin-top: 64px;
}

.headerTasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tasksCreated {
  display: flex;
  align-items: center;
  color: var(--blue);
  font-weight: 700;
  font-size: 1rem;
  width: min-content;
}

@media (min-width: 500px) {
  .tasksCreated {
    white-space: nowrap;
  }
}

.completedTasks {
  display: flex;
  align-items: center;
  color: var(--purple);
  font-weight: 700;
  font-size: 1rem;
}

.counter {
  border-radius: 999px;
  background-color: var(--gray-400);
  padding: 2px 8px;
  color: var(--white);
  margin-left: 8px;
  font-size: 0.875rem;
}

.tasks {
  margin-top: 24px;
}
