.container {
  display: flex;
  margin-top: -26px;
}

.container input {
  flex: 1;
  height: 54px;
  border-radius: 8px;
  padding: 0 10px;
}

.container button {
  height: 54px;
  border-radius: 8px;
  padding: 0 10px;
}
