.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray-400);
  border: 1px solid var(--gray-500);
  padding: 16px;
  border-radius: 8px;
  margin: 12px 0;
}

input[type="checkbox"]:checked {
  background-color: var(--purple-dark);
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

input {
  margin-right: 10px;
}

input:checked + label {
  color: var(--gray-300);
  text-decoration: line-through;
}

input[type="checkbox"]:before {
  border-radius: 50%;
  display: block;
  position: absolute;
  background: red;
}
